n8n.json
{
  "name": "LinkedIn Auto-Apply Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "⏰ Schedule (9AM Weekdays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 300],
      "notes": "Runs every weekday at 9:00 AM. Change cron to adjust timing."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-bot/start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "🔗 Manual Trigger (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 480],
      "webhookId": "linkedin-bot-manual-start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-keyword",
              "name": "jobKeyword",
              "value": "React Native Developer",
              "type": "string"
            },
            {
              "id": "assign-location",
              "name": "jobLocation",
              "value": "Mumbai",
              "type": "string"
            },
            {
              "id": "assign-maxjobs",
              "name": "maxJobsPerRun",
              "value": 10,
              "type": "number"
            },
            {
              "id": "assign-minscore",
              "name": "minAiScore",
              "value": 6,
              "type": "number"
            },
            {
              "id": "assign-timestamp",
              "name": "startTime",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-config",
      "name": "⚙️ Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [440, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/today-count",
        "options": {}
      },
      "id": "node-check-quota",
      "name": "📊 Check Today Quota",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "quota-check",
              "leftValue": "={{ $json.todayCount }}",
              "rightValue": "={{ $('⚙️ Set Config').item.json.maxJobsPerRun }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-quota-if",
      "name": "🔢 Under Daily Limit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $('⚙️ Set Config').item.json.jobKeyword }}"
            },
            {
              "name": "location",
              "value": "={{ $('⚙️ Set Config').item.json.jobLocation }}"
            },
            {
              "name": "maxJobs",
              "value": "={{ $('⚙️ Set Config').item.json.maxJobsPerRun }}"
            },
            {
              "name": "minScore",
              "value": "={{ $('⚙️ Set Config').item.json.minAiScore }}"
            }
          ]
        },
        "options": {
          "timeout": 1800000
        }
      },
      "id": "node-run-bot",
      "name": "🤖 Run LinkedIn Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/stop",
        "options": {}
      },
      "id": "node-stop-bot",
      "name": "⛔ Quota Reached - Stop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-success-if",
      "name": "✅ Was Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "RunLogs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RunDate": "={{ $now.toFormat('dd/MM/yyyy') }}",
            "StartTime": "={{ $('⚙️ Set Config').item.json.startTime }}",
            "EndTime": "={{ $now.toISO() }}",
            "Applied": "={{ $('🤖 Run LinkedIn Bot').item.json.applied }}",
            "Skipped": "={{ $('🤖 Run LinkedIn Bot').item.json.skipped }}",
            "Failed": "={{ $('🤖 Run LinkedIn Bot').item.json.failed }}",
            "Status": "SUCCESS",
            "Keyword": "={{ $('⚙️ Set Config').item.json.jobKeyword }}"
          }
        },
        "options": {}
      },
      "id": "node-log-success",
      "name": "📝 Log Run to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1540, 220]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "RunLogs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RunDate": "={{ $now.toFormat('dd/MM/yyyy') }}",
            "StartTime": "={{ $('⚙️ Set Config').item.json.startTime }}",
            "EndTime": "={{ $now.toISO() }}",
            "Applied": 0,
            "Skipped": 0,
            "Failed": 0,
            "Status": "FAILED",
            "Keyword": "={{ $('⚙️ Set Config').item.json.jobKeyword }}",
            "Error": "={{ $json.error }}"
          }
        },
        "options": {}
      },
      "id": "node-log-error",
      "name": "📝 Log Error to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "=✅ *LinkedIn Bot — Run Complete!*\n\n📅 Date: {{ $now.toFormat('dd MMM yyyy') }}\n⏰ Time: {{ $now.toFormat('hh:mm a') }}\n\n📊 *Results:*\n✅ Applied: {{ $('🤖 Run LinkedIn Bot').item.json.applied }} jobs\n⏭️ Skipped: {{ $('🤖 Run LinkedIn Bot').item.json.skipped }} jobs\n❌ Failed: {{ $('🤖 Run LinkedIn Bot').item.json.failed }} jobs\n\n🔍 Keyword: {{ $('⚙️ Set Config').item.json.jobKeyword }}\n📍 Location: {{ $('⚙️ Set Config').item.json.jobLocation }}\n\n👉 Check your Google Sheet for details!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-telegram-success",
      "name": "📱 Telegram — Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1760, 220]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "=❌ *LinkedIn Bot — Run FAILED!*\n\n📅 Date: {{ $now.toFormat('dd MMM yyyy') }}\n⏰ Time: {{ $now.toFormat('hh:mm a') }}\n\n🚨 Error: {{ $json.error }}\n\n👉 Check your server logs!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-telegram-error",
      "name": "📱 Telegram — Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1760, 400]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "=⛔ *LinkedIn Bot — Quota Reached*\n\n📅 Date: {{ $now.toFormat('dd MMM yyyy') }}\n\nAlready applied to max jobs today.\nBot will run again tomorrow at 9:00 AM. 🌅",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-telegram-quota",
      "name": "📱 Telegram — Quota Hit",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"started\", \"message\": \"Bot triggered successfully\" }"
      },
      "id": "node-webhook-response",
      "name": "↩️ Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 500]
    }
  ],
  "connections": {
    "⏰ Schedule (9AM Weekdays)": {
      "main": [
        [{ "node": "⚙️ Set Config", "type": "main", "index": 0 }]
      ]
    },
    "🔗 Manual Trigger (Webhook)": {
      "main": [
        [
          { "node": "↩️ Webhook Response", "type": "main", "index": 0 },
          { "node": "⚙️ Set Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "⚙️ Set Config": {
      "main": [
        [{ "node": "📊 Check Today Quota", "type": "main", "index": 0 }]
      ]
    },
    "📊 Check Today Quota": {
      "main": [
        [{ "node": "🔢 Under Daily Limit?", "type": "main", "index": 0 }]
      ]
    },
    "🔢 Under Daily Limit?": {
      "main": [
        [{ "node": "🤖 Run LinkedIn Bot", "type": "main", "index": 0 }],
        [
          { "node": "⛔ Quota Reached - Stop", "type": "main", "index": 0 },
          { "node": "📱 Telegram — Quota Hit", "type": "main", "index": 0 }
        ]
      ]
    },
    "🤖 Run LinkedIn Bot": {
      "main": [
        [{ "node": "✅ Was Successful?", "type": "main", "index": 0 }]
      ]
    },
    "✅ Was Successful?": {
      "main": [
        [{ "node": "📝 Log Run to Sheet", "type": "main", "index": 0 }],
        [{ "node": "📝 Log Error to Sheet", "type": "main", "index": 0 }]
      ]
    },
    "📝 Log Run to Sheet": {
      "main": [
        [{ "node": "📱 Telegram — Success", "type": "main", "index": 0 }]
      ]
    },
    "📝 Log Error to Sheet": {
      "main": [
        [{ "node": "📱 Telegram — Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["linkedin", "automation", "job-apply"]
}